<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Music app</title>
</head>
<body>
    <header>
        <h1>Music App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'task-list-create' %}">Tasks</a></li>
                <li><a href="{% url 'task-search' %}">Search</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>